
.footer-form {
    display: flex;
    flex-direction: column;
    fill: currentColor;
    margin-left: 93px;  
    &__list {
    display: flex;
    flex-wrap: wrap;
  }
    &__field {
    display: flex; 
}
}

  .footer-form__submit{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  background-color: var(--background-hero-color);
  padding-left: 16px;
  color: var(--hero-text-color);
  }
  
  .footer-form__submit::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  }