.page-header {
  background-color: var(--hero-text-color);
  border-bottom: 1px solid var(--solid-header-color);
  position: relative;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .site-nav__link,
  .site-nav__contact {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav__link,
  .site-nav__contact {
    &:hover,
    &:focus {
      color: var(--color-hover-icons);
    }
  }

  .site-nav__link {
    &.current {
      color: var(--accent-color);
      position: relative;
    }
  }

  .site-nav__link.current::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-hover-icons);
    border-radius: 2px;
    margin-top: 28px;
  }
}

.tablet-nav {
  .site-nav-list {
    @media screen and (max-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
    display: flex;
    margin-bottom: 10px;
  }

  .site-nav__communication {
    display: block;
    margin: 10px 30px 0 0;
  }
  .site-nav__contact {
    display: flex;
    align-items: center;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    margin: 0;
  }
  .site-nav__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.main-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    white-space: nowrap;
    .primary-nav {
      width: 100%;
    }

    .site-nav {
      display: flex;
      margin: 0 auto;
      align-items: center;
      &__item {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-right: 50px;
      }
      &__link {
        color: var(--healines-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
      }
    }

    .site-nav__item {
      &:last-child {
        margin: 0;
      }
    }
  }
}

.menu-button {
  top: 22px;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button {
  &:hover,
  &:focus {
    fill: var(--color-hover-icons);
  }
}

.backdrop-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.mobile-menu {
  position: relative;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--hero-text-color);
  .container-menu {
    position: relative;
    padding: 48px 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .menu-button-close {
    position: absolute;
    top: 21px;
    right: 22px;
    background-color: transparent;
    border: none;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button-close {
    &:hover,
    &:focus {
      fill: var(--color-hover-icons);
    }
  }
}

.backdrop-mobile.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav-list {
  display: flex;
}

.mobile-menu-contact {
  display: flex;
  flex-direction: column;
}

.mobile-list__item {
  margin-bottom: 36px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
}

.mobile-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--healines-text-color);
  
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-list__link,
.mobile-list__link {
  &:hover,
  &:focus {
    color: var(--color-hover-icons);
  }
}

.mobile-contacts__link {
  text-decoration: none;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}



.mobile-contacts__phone {
  text-decoration: none;
  color: var(--color-hover-icons);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  margin-bottom: 32px;
}

.mobile-media__link {
  text-decoration: none;
  color: var(--color-hover-icons);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-media {
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: start;
  margin-left: -10px;
  .mobile-media__item {
    margin-left: 10px;
  }
  .mobile-media__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
