
.hero {
    background-color: var(--background-hero-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
     &__sectoin {
    width: 696px;
    margin: 0 auto;
  }
  }
  
  .overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero.jpg");
  
    background-position: center;
    background-size: cover;
  }
  
  .hero-title {
    color: var(--hero-text-color);
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: inline-block;
    width: 696px;
    text-align: center;
  }
  
