
.hero {
    background-color: var(--background-hero-color);
    text-align: center;
    padding: 118px 0;
    @media screen and (min-width: 480px) and (max-width: 768px) {
      max-width: 480px;
      height: 400px;
      
      // padding: 0 60px;
    }
    @media screen and (min-width: 768px)and (max-width: 1200px) {
      max-width: 768px;
      height: 400px;
      
      // padding: 0 204px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      padding: 200px 0;
      // padding: 0 270px;
    }

    margin-left: auto;
    margin-right: auto; 
     &__sectoin {
    width: 360px;
    @media screen and (min-width: 1200px) {
      width: 696px;
    }
    
    margin: 0 auto;
  }
  }
  
  .overlay {
    background-position: center;
    background-size: cover;
  
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//../images/mobile1.jpg");
  }

@media (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//../images/mobile2.jpg");
  }
}

@media (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//../images/tablet1.jpg");
  }
  @media (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//../images/tablet2.jpg");
    }
  }
}

@media (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//../images/desktop1.jpg");
  }
  @media (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//../images/desktop2.jpg");
    }
  }
}

  .hero-title {
    color: var(--hero-text-color);
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;

    @media screen and (max-width: 450px) {
      width: 360px;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;  
      font-size: 44px;
      line-height: 1.36;
    }
  }
  
