
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop-color);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    position: relative;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--hero-text-color);
    padding: 40px;  
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;  
  }
  
  .modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--hero-text-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal__close-button{
    &:hover,
    &:focus {
    fill: var(--color-hover-icons);
  }
  }

  .modal-form {
    display: flex;
    flex-direction: column;
      &__label {
    display: inline-block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    color: var(--title-text-color);
    align-items: flex-end;
  }
  }
  
  .modal-form__title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--healines-text-color);
    margin-bottom: 12px;
  }
  
  .modal-label__name {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
  }
  
  .modal-label__column {
    position: relative;  
  }
  
  .modal-label__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 15px;
    fill: var(--healines-text-color);
    
  }
  
  .modal-label__list {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    cursor: pointer;
  
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-label__list{
      &:focus {
      border-color: var(--color-hover-icons);
  }
  }

  .modal-label__list:focus + .modal-label__icon {
    fill: var(--color-hover-icons);
  }
  
  .modal-label__coment {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
  
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-label__coment{
      &:focus {
      border-color: var(--color-hover-icons);
  }
  }

  .modal-label__coment::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .modal-form__check {
    margin-bottom: 30px;
  }
  
  .modal-form__check-agree {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height:1.71;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  
  .modal-form__checked {
    color: var(--color-hover-icons);
  }  
  
  .modal-form__check-icon {
    width: 16px;
    height: 15px;
    border: 3px solid var(--healines-text-color);
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: middle;
    fill: var(--hero-text-color);
  }  
  
  .modal-form__check:checked + .modal-form__check-agree .modal-form__check-icon {
    background-color: var(--color-hover-icons);
    border-color: var(--color-hover-icons);
    background-size: contain;
    background-origin: border-box;
    border: unset;
  }
    
  .modal-form__button-submit {
    width: 200px;
    height: 50px;
    background-color: var(--color-hover-icons);
    color: var(--hero-text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    border-radius: 4px;
    padding: 10px 55px;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    text-align: center;
    font-family: inherit;
    align-self: center;
  
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form__button-submit{
      &:hover,
      &:focus {
    box-shadow: var(--modal-button-submit-shadow);
  }
  }