
.card-feature {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
    &__list {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--hero-text-color);
  border: 1px solid var(--solid-portfolio-cards-color);
  box-sizing: border-box;
  
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

.card-feature__list{
      &:nth-child(3n) {
      margin-right: 0;
}
}

.card-feature__list{
      &:nth-last-child(-n + 3) {
      margin-bottom: 0;
}
}

.card-feature__list{
&:hover,
&:focus {
  border: 1px solid var(--solid-portfolio-cards-color);
  box-shadow: var(--card-future-portfolio-shadow);
}
}

.card-feature__link {
  text-decoration: none;
}

.feature-thumb {
  position: relative;
  overflow: hidden;
  &__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  content: '';
  top: 0; 
  height: 100%;
  padding: 24px;
  font-size: 18px;
  line-height: 1.15;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;

  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  &__discription {
  display: flex;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.5; 
  color:var(--hero-text-color);
  opacity: 1;
  margin: 0;
}
}

.card-feature__list{
&:hover,
&:focus {
  .feature-thumb__overlay{
  transform: translateY(0);
  opacity: 1;
}
}
}

.card-desc {
  border-color: var(--solid-portfolio-cards-color);
  border-bottom: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
    &__title {
  color: var(--healines-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
    &__details {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
}
}

